body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.navbar-toggler-icon{
    background-image: url("assets/images/icon-menu.svg");
}

.navbar-toggled-on{
    background-image: url("assets/images/icon-menu-close.svg");
}

main .display-1{
    font-weight: 800;
}

main .lead{
    color: hsl(236, 13%, 42%);
}

.read-more{
    display: inline-block;
    background-color:  hsl(5, 85%, 63%);
}

.read-more a{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:hsl(36, 100%, 99%);
    text-indent: auto;
    margin-left: 10px;
    letter-spacing: 10px;
}

.new{
    background-color: hsl(240, 100%, 5%);
}

.new h2{
    color: hsl(35, 77%, 62%);
    font-weight: 700;
}

.new h3{
    color: hsl(36, 100%, 99%);
    font-weight: 700;
}

.new p{
    color: hsl(233, 8%, 79%);
}

.article{
    border-color: hsl(233, 8%, 79%);
}