body{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.navbar-toggler-icon{
    background-image: url("assets/images/icon-menu.svg");
}

.navbar-toggled-on{
    background-image: url("assets/images/icon-menu-close.svg");
}

main .display-1{
    font-weight: 800;
}

main .lead{
    color: hsl(236, 13%, 42%);
}

.read-more{
    display: inline-block;
    background-color:  hsl(5, 85%, 63%);
}

.read-more a{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    text-indent: auto;
    margin-left: 10px;
    letter-spacing: 10px;
}